ПРАКТИЧНА РОБОТА 3. Аналіз даних. Робота даними csv
Роботу виконав: Плескач Матвій Русланович ФІТ 4-6

In [4]:
import numpy as np
import pandas as pd

1.Прочитайте csv файл (метод read_csv)

In [5]:
data = pd.read_csv("bestsellers with categories.csv", encoding='latin1')
data

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

2.Виведіть перші 10 рядків (метод head)

In [6]:
data10 = data.head(10)
print(data10)

                                                Name
0                      10-Day Green Smoothie Cleanse  \
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

3.Виведіть розміри датасету (метод shape)
Питання: Про скільки книг зберігає дані дата сет?

In [7]:
print("Dataset size",data.shape) #550 книг зберігаються в дата сеті

Dataset size (550, 7)

4.Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення

In [9]:
data = data.rename(columns=
                   {
                       "Name":"name",
                       "Author":"author",
                       "User Rating":"user_rating",
                       "Reviews":"reviews",
                       "Price":"price",
                       "Year":"year",
                       "Genre":"genre"
                   })
data

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

5.Вивести кількість пропусків у кожному стовпчику
Питання : Чи є в якихось змінних пропуски? (Так / ні)

In [11]:
data = data.replace('Nan', np.nan)
missing = data.isnull().sum()/len(data)*100 #Пропуски відсутні
print(missing)

name           0.0
author         0.0
user_rating    0.0
reviews        0.0
price          0.0
year           0.0
genre          0.0
dtype: float64

6.За допомогою методу unique перевірте. Які є унікальні жанри в стовпці genre
Питання : Які є унікальні жанри?

In [13]:
data['genre'].unique() #Fiction

array(['Non Fiction', 'Fiction'], dtype=object)

7.Визначте максимальну, мінімальну, медіанну ціну за допомогою методів max, min, mean, median
Питання: Максимальна ціна?
Питання: Мінімальна ціна?
Питання: Середня ціна?
Питання: Медіанна ціна?

In [13]:
max_price = data['price'].max()
min_price = data['price'].min()
mean_price = data['price'].mean()
median_price = data['price'].median()

print(f"Highest price: {max_price}")
print(f"Lowest price: {min_price}")
print(f"Mean price: {mean_price}")
print(f"Median price: {median_price}")

Highest price: 105
Lowest price: 0
Mean price: 13.1
Median price: 11.0

8.Виконайте наступні завдання з пошуку і сортування даних
Питання: Який рейтинг у дата сеті найвищий?
Питання: Скільки книг мають такий рейтинг?
Питання: Яка книга має найбільше відгуків?
Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
Питання: Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році
Питання: Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?

In [15]:
highest_rate = data['user_rating'].max()
print(f"Highest Rating: {highest_rate}")

books_with_high_rate = data[data['user_rating'] == highest_rate]
number_books_with_high_rate = len(books_with_high_rate)
print(f"The number of books that have a highest user rating: {number_books_with_high_rate}")

most_reviews = data['reviews'].max()
book_most_reviews = data[data['reviews'] == most_reviews]['name']
print(f"Book with the highest reviews count: {book_most_reviews}")

top_50_2010y = data[data['year'] == 2010][data[data['year'] == 2010]['price'] == data[data['year'] == 2010]['price'].max()]['name']
print(f"Top 50 2010 year the most highest price book: {top_50_2010y}")

year = [2010,2011]
rating_books = data[(data['year'].isin(year)) & (data['user_rating'] == 4.9)]
rating_books2 = len(rating_books)
print(f"2010 2011 user rating 4.9^ {rating_books2}")

Highest Rating: 4.9
The number of books that have a highest user rating: 52
Book with the highest reviews count: 534    Where the Crawdads Sing
Name: name, dtype: object
Top 50 2010 year the most highest price book: 272    Publication Manual of the American Psychologic...
Name: name, dtype: object
2010 2011 user rating 4.9 1

Висновок прописанний у першій частині роботи